body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #f7931a;
    text-decoration: none;
}
